# Backend
backend/target/
backend/.mvn/
backend/*.iml
backend/.idea/
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.classpath
.factorypath
.project
.settings/
*.iml
.idea/

# General
.DS_Store
*.log
.env
